.advertencia-voluntario {
    background-color: #ffd454;
    color: black; width: 80%;
    border-radius: 20px;
    padding: 5px 0;
}

.header-table {
    vertical-align: middle;
    text-align: center;
}

.body-table td {
    vertical-align: middle;
    text-align: center;
}

.card-header h1 {
  font-size: 48px;
  margin-top: 0;
}