<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Asignar Actividades</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Actividad</th>
                <th scope="col">Voluntarios</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Suturar</td>
                <td>
                    <h5>Mark</h5> <!--Ejemplo de actividad asignada-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Asignar voluntario
                    </button>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Voluntarios</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!--Lista de actividades a asignar-->
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Jacob
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            David
                                        </label>
                                    </div>
                                    <!--div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Actividad"
                                            aria-describedby="button-addon2">
                                        <button class="btn btn-primary" type="button"
                                            id="button-addon2">Asignar</button>
                                    </div-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary">Aceptar</button>
                                    <!--Enviar al controlador y al modelo la opción seleccionada para
                                    actualizar la base de datos y la lista que se muestra en pantalla-->
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <!--Ejemplo de lista de voluntarios-->
            <tr>
                <th scope="row">2</th>
                <td>Toma de signos</td>
                <td><input class="btn btn-primary" type="button" value="Asignar voluntario"></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Evacuar</td>
                <td><input class="btn btn-primary" type="button" value="Asignar voluntario"></td>
            </tr>
        </tbody>
    </table>
    <input class="btn btn-primary me-4 float-end" type="button" value="Continuar">
</body>

</html>