
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sistema-de</title>
	<link rel="stylesheet" href="../static/templates/gestion_voluntarios/styles.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function(){
			$("ul#links li a").on("click", function(e){
				e.preventDefault();
				var url = $(this).attr("href");
				var page_name = $(this).text();
				$("#content").load(url, function(){
					$("#content h1").text(page_name);
				});
			});
		});
	</script>
</head>
<body>
	<div id="header">
		<img src="../static/templates/gestion_voluntarios/logo.png" alt="Logo">
		<ul id="links">
			<li><a href="../static/templates/gestion_voluntarios/pagina1.html">Página 1</a></li>
			<li><a href="../static/templates/gestion_voluntarios/pagina2.html">Página 2</a></li>
			<li><a href="../static/templates/gestion_voluntarios/pagina3.html">Página 3</a></li>
		</ul>
		<img src="../static/templates/gestion_voluntarios/perfil.png" alt="Perfil">
	</div>
	<div id="content">
		<p>Seleccione una página de la lista para ver su contenido aquí.</p>
	</div>
</body>
</html>