<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/templates/gestion_voluntarios/notificacion.css">
    <title>Notificación de emergencia médica</title>
</head>
<body>
    <div class="notification">
        <h1>{{ Emergencia }}</h1>
        <!--p>Se ha detectado una emergencia médica en el siguiente paciente:</p-->
        <!--ul>
            <li>Nombre: {{ paciente.nombre }}</li>
            <li>Edad: {{ paciente.edad }}</li>
            <li>Síntomas: {{ paciente.sintomas }}</li>
        </ul-->
        <h1>Emergencia: {{ emergencia.nombre }} </h1>
        <h1>Habilidad requerida: {{ emergencia.habilidad_requerida}} </h1>
        <h1>Asunto: {{ emergencia.asunto }}</h1>
        <p>SELECCIONE UNA OPCIÓN</p>

        <form method="post">
            <!--{% csrf_token %}-->
            <button type="submit" name="opcion" class="conf" value="confirmar">Confirmar</button>
            <button type="submit" name="opcion" class="rech" value="rechazar">Rechazar</button>
        </form>
    </div>
</body>
</html>